<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>❏ FLY</title>
  <link href="/static/index.css" media="all" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <style type="text/css">
    body {
      font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    }
    #fly {
      display: inline-block;
      width: 90px;
      /* background: #333;
      color: #fff; */
    }
    #bio {
      color: #999;
      font-weight: 400;
    }
  </style>
</head>
<body>
<h1><strong><span>❏</span> <span id="fly">FLY</span></strong></h1>
<p id="bio">For develop backend easy</p>
</body>
</html>
